#statisticspage{
    text-align: center;
    top: 0;
    left: 0;
    width: 100%; /* viewport width */
    min-height: 100vh;
    background-color: #3a3a3a; /* Example background color */
    z-index: 1000; /* Ensures it covers other content */
}

#panels{
    display: flex;
    padding: 30px;
    gap: 40px;
}

#leftdiv{
    width: 45vw;
    background-color: #3a3a3a;
    border-radius: 20px;
    text-align: center;
    border: 5px solid #555;

}

#rightdiv{
    width: 45vw;
    background-color: #3a3a3a;
    border-radius: 20px;
    text-align: center;
    border: 5px solid #555;
}

#barchart{
    background-color: white;
    border-radius: 10px;
    margin-top: 59px;
}

#piechart{
    padding-left: 165px;
    margin-top: 100px;
}

#specificdropdown{
    margin-top: 20px;
    margin-bottom: 20px;
}

#testSelector{
    width: 100%;
}